attrs==21.4.0
boto3==1.24.2
botocore==1.27.2
grpcio==1.46.3
grpcio-tools==1.46.3
grpclib==0.4.2
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
jmespath==1.0.0
jsonlines==3.0.0
jsonschema==4.6.0
multidict==6.0.2
protobuf==3.20.1
pyrsistent==0.18.1
python-dateutil==2.8.2
s3transfer==0.6.0
six==1.16.0
urllib3==1.26.9
